* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.btn {
  padding: 9px 13px;
  background-color: #f15f4e;
  font-size: 15.7px;
}

.button {
  padding: 20px 0;
  border-bottom: 1px solid #f15f4e;
  position: relative;
}

.button a {
  position: absolute;
  top: 50%;
  right: 42%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

.banner {
  position: relative;
}

.banner img {
  height: 664px;
  width: 100%;
}

.banner__content {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 650px;
  left: calc((100% - 1200px)/2);
  top: 49.2%;
}

.banner__content p {
  margin: 10px 0 32px 0;
}

.banner__text {
  position: absolute;
  bottom: 0;
  background-color: #f15f4e;
  width: 100%;
  height: 113px;
}

.banner__wrap {
  margin: 23px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.banner__wrap a {
  position: absolute;
  right: 0px;
  background-color: #ffff;
  color: #f15f4e;
  margin: 5px 9px 0 0;
}

.banner__wrap p {
  margin: 6px 0;
}

.services {
  margin: 88px 0 66px 0;
}

.services__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services p {
  color: #fff;
}

.services__member {
  width: 23%;
  margin-right: 30px;
  background-color: #005a61;
}

.services__member:nth-child(4n) {
  margin-right: 0;
}

.services img {
  height: 273px;
  width: 100%;
}

.services__content {
  margin: 10px 15px;
  padding-bottom: 30px;
}

.services__content p {
  margin: 13px 0 30px 0;
  line-height: 1.54;
}

.viewed {
  margin-bottom: 97px;
}

.viewed__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 17px 0 27px 0;
}

.viewed__main {
  width: 74.4%;
  margin-right: 30px;
  position: relative;
}

.viewed__video {
  width: 100%;
  height: 100%;
}

.viewed__play {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.viewed__extra {
  width: 23%;
}

.viewed__bonus {
  margin-bottom: 21px;
  height: 154px;
  position: relative;
  width: 100%;
}

.education {
  position: relative;
}

.education img {
  width: 100%;
  height: 413px;
}

.education__content {
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 46.5%;
  left: 50%;
  width: 581px;
}

.education__content p {
  line-height: 1.7;
  margin: 5px 0 25px 0;
}

.questions {
  margin: 55px 0 65px 0;
}

.questions__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 102px;
}

.questions__wrap {
  width: calc((100% - 90px)/3);
  margin-left: 15px;
  margin-right: 15px;
}

.questions__wrap:nth-child(3n) {
  margin-right: 0px;
}

.questions__wrap img {
  width: 100%;
}

.questions__wrap p {
  color: #f15f4e;
}

.questions__wrap a {
  color: #055a61;
}

.questions__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 28px 20px;
}

.questions__time img {
  width: auto;
  height: 20px;
}

.questions__text {
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.questions__button {
  margin-left: 10px;
}

.about {
  margin-bottom: 80px;
}

.about__content {
  margin-bottom: 25px;
}

.about__content p {
  color: #005a61;
  line-height: 1.7;
  font-size: 15.8px;
  margin: 12px 0;
}

.about__content h3 {
  font-size: 39.3px;
}

.subscribe {
  background-color: #94d5da;
}

.subscribe__content {
  text-align: center;
  padding-top: 59px;
}

.subscribe__content h2 {
  color: #055a61;
  font-size: 41.4px;
}

.subscribe__content p {
  color: #055a61;
  margin: 14px 0;
  line-height: 1.7;
}

.subscribe__form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  justify-content: center;
}

.subscribe__form__left-form {
  margin-right: 25px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.subscribe__form__member {
  width: 20px;
  height: 20px;
  line-height: 0;
  margin: 0;
}

.subscribe__form__right-form {
  text-align: start;
  margin-left: 25px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.subscribe__form__iterm {
  display: block;
  margin-bottom: 30px;
}

.subscribe__in {
  margin: 10px 0;
  width: 354px;
  height: 40px;
  border: none;
}

.subscribe__lable {
  color: #055a61;
}

.subscribe__select {
  width: 354px;
  height: 40px;
  border: none;
  color: #055a61;
}

.subscribe__select option {
  color: #055a61;
}

.header {
  background-color: #0e5a61;
  height: 119px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

.header__menu-mobile {
  display: none;
}

.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-top: 28px;
}

.header__menu {
  position: absolute;
  margin-top: 13px;
  right: 0px;
}

.header__menu a {
  -webkit-box-shadow: 0 1px #0e5a61;
          box-shadow: 0 1px #0e5a61;
}

.header__menu a:hover {
  -webkit-box-shadow: 0 1px #fff;
          box-shadow: 0 1px #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__top--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top--menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top--menu a {
  font-size: 13px;
}

.header__top--menu li:not(:last-child) {
  margin: 0 33.6px 0 0;
}

.header__bottom--menu {
  margin-top: 11px;
  margin-bottom: -2px;
}

.header__bottom--menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__bottom--menu li:not(:last-child) {
  margin: 0 36.4px 0 0;
}

.header__bottom--menu a {
  font-size: 16.9px;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search input {
  height: 42px;
  width: 277px;
  padding-left: 16px;
  font-size: 17px;
  border: none;
}

.header__search img {
  padding: 6px 12px;
}

.header__search button {
  background-color: #f15f4e;
  border: none;
}

.header__search-mobile {
  display: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 63.2px;
  line-height: 1.09;
  margin-bottom: 14px;
}

h2 {
  font-size: 38.4px;
}

h3 {
  font-size: 38px;
  color: #005a61;
}

h4 {
  font-size: 23.9px;
}

h5 {
  font-size: 22.5px;
}

p {
  font-size: 15.5px;
  line-height: 1.22;
}
/*# sourceMappingURL=style.css.map */