.education{
    position: relative;
    img{
        width: 100%;
        height: 413px;
    }

    &__content{
        position: absolute;
        text-align: center;
        transform: translate(-50%, -50%);
        top: 46.5%;
        left: 50%;
        width: 581px;
        p{
            line-height: 1.7;
            margin: 5px 0 25px 0;
        }
    }
}
