.services{
    margin: 88px 0 66px 0;
    &__wrap{
        display: flex;
        flex-wrap: wrap;
    }
    p{
        color: #fff;
    }
    &__member{
        position: relative;
        width: 23%;
        margin-right: 30px;
        &:nth-child(4n){
            margin-right: 0;
        }
        background-color: $background;
    }
    img{
        height:273px ;
        width: 100%;
    }
    &__content{
        margin: 10px 15px;
        padding-bottom: 55px;
        p{
            margin: 13px 0 30px 0;
            line-height: 1.54;
        }   
    }
    &__text-mobile{
        display: none;
    }
    &__button{
        position: absolute;
        bottom: 8.1%;
        text-align: center;
    }
    @media (max-width:768px) {
    margin-bottom: 0;
    margin-top: 66px;
        &__member{
            width: 100%;
            display: flex;
            margin: 0 0 30px 0;
            height: 284px;
            img{
                width: 49%;
                height: 100%;
            }
        }
        &__content{
            position: relative;
        }
        &__button{
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 13%;
            right: 14%;
            a{
                padding: 15px 24px;
                font-size: 18px;
            }
        }
        h5{
            font-size: 29px;
            margin-left: 13px;
        }
        p{
            font-size: 20px;
            margin-left: 13px;
            line-height: 1.1;
        }
        &__text{
            display: none;
        }
        &__text-mobile{
            display: block;
        }   
    }
}
