.subscribe{
    background-color:$blu;
    position: relative;
    padding-bottom: 46px;
    &__content{
        text-align: center;
        padding-top: 59px;
        h2{
            color: $blu--text;
            font-size: 41.4px;
        }
        p{
            color: $blu--text;
            margin: 14px 0;
            line-height: 1.7;
        }
    }
    &__form{
        justify-content: center;
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        text-align: start;
        justify-content: center;
    }
    &__left-form {
        order: 1;
        margin-top: 10px;
    }
    &__member {
        width: 20px;
        height: 20px;
        line-height: 0;
        margin: 0;
    }

    &__right-form {
        text-align: start;
        margin-left: 60px;
        order: 2;
        margin-top: 10px;
        p{
            margin-top: 20px;
            margin-bottom: 10px;
        }
        
    }

    &__iterm {
        display: block;
        margin-bottom: 4px;
    }
    
    &__in{
        margin: 10px 0;
        width: 354px;
        height: 40px;
        border: none;
    } 
    &__lable{
        color: $blu--text;
    }
    &__select{
        width: 354px;
        height: 40px;
        border: none;
        color: $blu--text;
        margin-top: 10px;
        option{
            color: $blu--text;
        }
    }
    &__lable1{
        color: $blu--text;
    }
    &__right{
        display: flex;
        flex-wrap: wrap;
    }
    &__in1{
        border: none;
        width: 110px;
        height: 40px;
        margin-right: 15px;
        padding-left: 10px;
    }
    label{
        color: $blu--text;
    }
    p{
        color: $blu--text;
    }
    &__wrap1{
        input{
            width: 20px;
            height: 20px;
        }
        margin-bottom: 25px;

    }
    &__member{
        padding: 30px 50px;
    }
    &__button{
        background-color: $blu--text;
        padding: 10px 20px;

    }
    @media (max-width:768px) {
        &__content{
            padding: 0 20px;
            text-align: left;
        }
        &__form{
            flex-direction: column;
            padding: 0 20px;
            
        }
        &__in{
            width: 100%;
        }
        &__select{
            width: 100%;
        }
        &__right-form{
            margin: 10px 0;
            flex-direction: column;
            margin: 0;
            iframe{
                display: none;
            }
        }
        
        
        
    }
}
